In [143]:
import pandas as pd
import numpy as np

In [144]:
df1 = pd.read_excel('hw4_data.xlsx',sheet_name = 'PRICES_DATA')
df2 = pd.read_excel('hw4_data.xlsx', sheet_name='IVV_DATA')
prc = pd.read_csv('prices.csv')

# Rename the columns
df1 = df1.rename(columns={
    'Dates': 'Date',
    'IVV US Equity': 'IVV_US_Equity',
    'IVV AU Equity': 'IVV_AU_Equity',
    'ECRPUS 1Y Index': 'ECRPUS_1Y_Index',
    'SPXSFRCS Index': 'SPXSFRCS_Index',
    'FDTRFTRL Index': 'FDTRFTRL_Index',
    'USCRWTIC Index': 'USCRWTIC_Index',
    'XAU Curncy': 'XAU_Curncy',
    'JPYUSD Curncy': 'JPYUSD_Curncy',
    'DXY Curncy': 'DXY_Curncy',
    'VIX Index': 'VIX_Index'
})
df2 = df2.rename(columns={
    'Dates': 'Date'
})

prc = prc.rename(columns={
    'Open Price': 'open',
    'High Price': 'high',
    'Low Price':'low',
    'Close Price':'close'
})


#Calculate log return for the abosolute price
df1['AU_log_return'] = np.log(df1['IVV_AU_Equity'] *(1/df1['IVV_AU_split'])/ df1['IVV_AU_Equity'].shift(1))
df1['US_log_return'] = np.log(df1['IVV_US_Equity'] / df1['IVV_US_Equity'].shift(1))

In [145]:
df2

          Date  IVOL_IMPLIED_FORWARD  IVOL_DELTA
0   2020-01-02              325.6674     14.3385
1   2020-01-03              323.2867     14.6881
2   2020-01-06              323.8963     14.6475
3   2020-01-07              323.4212     14.6017
4   2020-01-08              325.2006     13.9187
..         ...                   ...         ...
820 2023-04-05              427.3373     17.8246
821 2023-04-06              428.8891     17.8277
822 2023-04-10              430.2437     17.6069
823 2023-04-11              430.8804     17.6191
824 2023-04-12              428.7954     17.7061

[825 rows x 3 columns]

In [146]:
df1['Date'] = pd.to_datetime(df1['Date'])
prc['Date'] = pd.to_datetime(prc['Date'])
merged_df = pd.merge(df1, df2, on='Date', how='outer')
merged_df = pd.merge(df1, prc, on='Date', how='outer')
merged_df.drop('Instrument', axis=1, inplace=True)
merged_df['Date'] = merged_df['Date'].dt.strftime('%Y-%m-%d')

In [147]:
merged_df.to_excel("merged_df.xlsx")

In [121]:
# Access the row at index 767
row_767 = df1.iloc[753]

# Print the row
print(row_767)

Date               2022-11-21 00:00:00
IVV_US_Equity                   396.26
IVV_AU_Equity                   596.25
ECRPUS_1Y_Index                   62.5
SPXSFRCS_Index                    3931
FDTRFTRL_Index                    3.75
USCRWTIC_Index                   79.73
XAU_Curncy                     1738.05
JPYUSD_Curncy                 0.007036
DXY_Curncy                     107.835
VIX_Index                        22.36
IVV_AU_split                       1.0
AU_log_return                 0.011029
US_log_return                -0.003829
Name: 753, dtype: object